body {
	background-color: #3498db;
}

message {
    padding: 5px;
	font-family: 'Press Start 2P', cursive;
	color: #fff;
}

#dcMessage {
    padding-top: 5px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

#gameDiv {
	margin-right: auto;
	margin-left: auto;
}
